APP_TITLE=Faina
APP_NAME=Faina
APP_KEY=
####APP_KEY=
APP_DEBUG=false
APP_PORT=3000
APP_HOST=http://localhost
APP_TIMEZONE=-04:00

NODE_ENV=dev

DB_DIALECT=mariaDB
DB_HOST=localhost
DB_DATABASE=tarefas
DB_USERNAME=tarefas
DB_PASSWORD=123tarefas